<launch>


	<include file="$(find franka_gazebo_moveit)/launch/start_empty.launch" />

	<arg name="effort_interface" default="true" />
	<arg name="position_interface" default="false" />
	<param name="robot_description" command="$(find xacro)/xacro --inorder $(find franka_gazebo_moveit)/robots/panda_arm.urdf.xacro effort_interface:=$(arg effort_interface) position_interface:=$(arg position_interface)"/>

	<node name="spawn" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model panda"/>

	<rosparam file="$(find franka_gazebo_moveit)/config/effort_controller.yaml" command="load" />

	
	<rosparam command="load" file="$(find franka_gazebo_moveit)/config/joint_states.yaml"/>
	
	<node name="franka_controller_spawner" pkg="controller_manager" type="spawner" args=
		"joint_state_controller
		panda_arm_controller"/>
	<!-- <rosparam command="load" file="$(find franka_gazebo_moveit)/config/default.yaml"/> -->

	<node pkg="robot_state_publisher" type="robot_state_publisher" name="rob_st_pub"/>
</launch>
